<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/headerfooter.css">
  <link rel="stylesheet" href="/public/css/util.css">
  <link rel="icon" href="/public/img/fav3.png">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="/public/css/main-section1.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Articles</title>
</head>
<body>
  <a name="top"></a>
  <header class="fontwhite">
    <nav>
      <ul>
        <img src="/public/img/fav3.png" alt="" class="favicon">
        <li class="heading"><a href="#top">Legilimens </a></li>

        <div class="dropdown">
          <button id="" onclick="dropdownfunc()" class="dropbtn"><span class="material-symbols-outlined dropbtn">
              menu
            </span>
            <!-- <i class="fa fa-caret-down"></i> -->
          </button>
          <div id="myDropdown" class="dropdown-content">
            <a class="dropdown-content" href="/">Home</a>
            <a class="dropdown-content" href="/articles">Articles</a>
            <a class="dropdown-content" href="/public/html/EverydayLife.html">Community</a>
            <a class="dropdown-content" href="/public/html/Textbook.html">Textbook Psychology</a>
          </div>
        </div>
        <button id="btn" onclick="Toggle()" onclick="onClick" style="color: gray" id="icon"><span
            class="material-symbols-outlined">
            highlight
          </span></button>
        <li class="navlinks dissapear"><a href="/"> Home </a></li>
        <li class="navlinks dissapear"> <a href="/articles"> Articles </a></li>
        <li class="navlinks dissapear"><a href="/public/html/EverydayLife.html"> Community</nobr></a>
        </li>
        <li class="navlinks dissapear"><a href="/public/html/Textbook.html">Textbook Psychology</a></li>

      </ul>

    </nav>

  </header>
  <div class="container mb-4 mt-4">
    <h1 style="color: var(--fontcolor);" class="mb-4">Edit Article</h1>

    <form style="color: var(--fontcolor);" action="/articles/<%= article.id %>?_method=PUT" method="POST">
      <%- include('_form_fields') %>
    </form>
  </div>
  <footer class="flex-centre">
    <div class="footertext">
      <p>
        A Psychology Blog <br><br>
        &copy Copyright Mridu Sharma | Contact: legilimency@gmail.com <br><br>
        Instagram: abc <br>
        Twitter: abc <br><br>

        All Rights Reserved <br>
      </p>
    </div>
  </footer>

  <script src="/public/js/main.js"></script>
</body>
</html>